In [1]:
import pandas as pd

In [13]:
from tqdm import tqdm

In [16]:
import numpy as np

In [56]:
pe_data = pd.read_excel("投资收益压力测试.xlsx",sheet_name='投资收益压力测试',usecols=['pe','分位','price'])

In [10]:
pe_data.head()

          pe        分位     price
0  50.096901  1.000000  1986.539
1  51.850601  1.000000  2055.016
2  51.324100  0.666667  2035.651
3  52.444199  1.000000  2085.403
4  54.230099  1.000000  2159.638

In [ ]:
####首先，以2007-2011为模拟回测市场前期，从2012到2019年开始回测，index从1212开始

In [59]:
def back_test(df:pd.DataFrame,low,high,time=1):##low，high为分位区间端点,time为投资时间,以月为单位
    gains = []
    for index,row in tqdm(df.iterrows()):
        if row['分位']>low and row['分位']<=high:
            next_index = index+time*20
            if index+time*20>df.index[-1]:
                next_index = df.index[-1]
            gains.append(df['price'][next_index]/df['price'][index]-1)###将每一次收益添加至gains
    ###返回值为gains的平均值，还有胜率
    temp_array = np.array(gains)
    temp_array[temp_array>0] = 1
    temp_array[temp_array<0] = 0
    return np.mean(gains),np.mean(temp_array)

In [73]:
resul_pe = pd.DataFrame(index=[0.25,0.5,0.75,1],columns=[1,3,6,12,18,24,32,36])

In [74]:
for i in [1,3,6,12,18,24,32,36]:
    for low,high in [(0,0.25),(0.25,0.5),(0.5,0.75),(0.75,1)]:
        gain,acc = back_test(pe_data.loc[1212:,:],low,high,i)
        resul_pe[i][high] = gain

1953it [00:00, 10528.16it/s]
1953it [00:00, 12718.48it/s]
1953it [00:00, 12796.56it/s]
1953it [00:00, 14994.16it/s]
1953it [00:00, 10879.93it/s]
1953it [00:00, 13054.62it/s]
1953it [00:00, 12085.58it/s]
1953it [00:00, 14925.26it/s]
1953it [00:00, 10304.48it/s]
1953it [00:00, 12087.87it/s]
1953it [00:00, 12087.74it/s]
1953it [00:00, 12798.94it/s]
1953it [00:00, 10585.91it/s]
1953it [00:00, 12883.06it/s]
1953it [00:00, 12715.79it/s]
1953it [00:00, 14610.65it/s]
1953it [00:00, 10250.58it/s]
1953it [00:00, 11940.61it/s]
1953it [00:00, 11898.57it/s]
1953it [00:00, 15295.22it/s]
1953it [00:00, 10604.29it/s]
1953it [00:00, 12633.70it/s]
1953it [00:00, 12549.99it/s]
1953it [00:00, 15666.16it/s]
1953it [00:00, 10940.10it/s]
1953it [00:00, 13405.29it/s]
1953it [00:00, 12882.76it/s]
1953it [00:00, 14190.02it/s]
1953it [00:00, 10937.82it/s]
1953it [00:00, 12310.05it/s]
1953it [00:00, 12967.93it/s]
1953it [00:00, 15541.39it/s]

In [75]:
resul_pe.to_excel("pe收益.xlsx")

In [72]:
resul_pe

,1,3,6,12,18,24,32,36
0.25,0.00960576,0.0185952,0.0365272,0.169594,0.256807,0.384013,0.516114,0.537217
0.50,0.0063235,0.0247229,0.0869424,0.0910022,0.0914015,0.0342303,0.00897855,0.03587
0.75,0.0383956,0.151389,0.0895366,-0.00321431,-0.0249166,-0.0223733,-0.0838592,-0.164961
1.00,-0.0330025,-0.155143,-0.224115,-0.288224,-0.262933,-0.279928,-0.289906,-0.350876